/* Padding and border included in width and height */
* {
    box-sizing: border-box;
}

/* Set Height and Width to Viewport Size */
html, 
body, 
#wrapper, 
div.container {
	height: 100%;
	width: 100%;
}

/* HTML and Body specs */
html, 
body {
	margin: 0;
	font-size: 8vmin; /* Viewport minimum value. DO NOT CHANGE, WILL FUCK UP SOME DIV'S! :D */
	overflow: hidden;
}

/* Wrapper */
#wrapper {
	background: #D7DADB;
}

/* Header */
#header {
	position: relative;
	height: 15%;
}

/* Points Container */
#points {
	position: relative;
	width: 40%;
	height: 8vmin; /* Viewport minimum value */
	top: 10%;
	margin: auto;
	background: #ffffff;
	border-radius: 4%;
}

/* Points text */
#header 
#points 
#score {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 95%;	
}

/* Mutiplier Container */
#header 
#multiplier {
	position: absolute;	
	width: 7%;
	height: 8vmin; /* Viewport minimum value */
	top: 10%;
	right: 22%;
	color: #ff6600;
}

/* Multiplier Text */
#header
#multiplier
#value {
	position: absolute; 
	width: 100%;
	height: 100%;
	line-height: 95%;
	font-weight: bold;
}

/* All Header Text */
#header 
.numbers {
	text-align: center;
}

/* All Card Front's and Back's */
.front, .back {
	color: white;
	text-align: center;
	border-radius: 4%;
	border: 1px solid #000000; /* Black */
}

/* All Card Front's */
.front{
	background: #4d4d4d; /* Grey */
}

/* Matrix container */
#matrix {
	position: relative;
	margin: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height: 65%;
	width: 90%;
}

/* All Matrix Cards */   
#matrix > .matrixCards  {
	position: absolute;
	height: 32%;
	width: 25%;
	text-align: center;	
	float: left;
	line-height: 200%; /* Center text (vertically) */
}

/* All Matrix Animation Cards */
#matrix 
div#animationCard1,
#matrix
div#animationCard2,
#matrix 
div#animationCard3,
#matrix
div#animationCard4,
#matrix 
div#animationCard5,
#matrix
div#animationCard6,
#matrix 
div#animationCard7,
#matrix
div#animationCard8,
#matrix 
div#animationCard9 {
	position: absolute;
	height: 32%;
	width: 25%;
	z-index: 1;
	border-radius: 4%;
	background: #263545; /* Navy blue */
	visibility: hidden;
	border: 1px solid #000000;
}

/* Matrix Animation Card 1*/
#matrix
div#animationCard1 {
	left: 10.5%;
}

/* Matrix animation Card 2 */
#matrix div#animationCard2 {
	left: 37.5%;
}

/* Matrix animation Card 3 */
#matrix div#animationCard3 {
	left: 64.5%;
}

/* Matrix animation Card 4 */
#matrix div#animationCard4 {
	left: 10.5%;
	top: 34%;
}

/* Matrix animation Card 5 */
#matrix div#animationCard5 {
	left: 37.5%;
	top: 34%;
}

/* Matrix animation Card 6 */
#matrix div#animationCard6 {
	left: 64.5%;
	top: 34%;
}

/* Matrix animation Card 7 */
#matrix div#animationCard7 {
	left: 10.5%;
	top: 68%;
}

/* Matrix animation Card 8 */
#matrix div#animationCard8 {
	left: 37.5%;
	top: 68%;
}

/* Matrix animation Card 9 */
#matrix div#animationCard9 {
	left: 64.5%;
	top: 68%;
}

/* All Matrix Card Back's */ 
#matrix div > .back {
	padding-top: 12.5%;
	background: #263545; /* Navy blue */
}

/* Matrix Card 1 */ 
#matrix #r1c1 {
	margin-left: 10.5%;
}

/* Matrix Card 2 */ 
#matrix #r1c2 {
	margin-left: 2%;
	margin-right: 2%;
}

/* Matrix Card 3 */ 
#matrix #r1c3 {
	margin-right: 10.5%;
}

/* Matrix Card 4 */ 
#matrix #r2c1 {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 10.5%;
}

/* Matrix Card 5 */ 
#matrix #r2c2 {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

/* Matrix Card 6 */ 
#matrix #r2c3 {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 10.5%;
}

/* Matrix Card 7 */ 
#matrix #r3c1 {
	margin-left: 10.5%;
}

/* Matrix Card 8 */ 
#matrix #r3c2 {
	margin-left: 2%;
	margin-right: 2%;
}

/* Matrix Card 9 */ 
#matrix #r3c3 {
	margin-right: 10.5%;
}

/* All Matrix Cells Hover */
#matrix div > .front:hover {
	background: #99b3ff; /* Sky blue */	
}

/* Equation container */
#equation {
	position: relative;
	width: 90%;
	height: 15%;
	top: 2%;
	margin: auto;
}

/* All Equation Cards */
#equation > div {
	position: absolute;
	height: 100%;
	float: left;	
}

/* All Equation Card Front's */
#equation div > .front {
	line-height: 250%; /* Center text (vertically) */
	
}

/* First Equation Card */
#equation
#first {
	width: 21%;
}

/* First Equation Card Back */
#equation
#first
.back {
	border: 1px dashed #000000; /* Black */
}

/* Second Equation Card */
#equation
#operator {
	margin-left: 2%;
	margin-right: 2%;
	width: 21%;	
}

/* Second Equation Card Back*/
#equation
#operator
.back {
	background: #800000; /* Red */
	font-weight: bold;
}

/* Third Equation Card */
#equation
#second {
	width: 21%;
}

/* Third Equation Card Back*/
#equation
#second 
.back {
	border: 1px dashed #000000; /* Black */
}

/* Fourth Equation Div (Not a card) */
#equation 
#equals {
	margin-left: 2%;
	margin-right: 2%;
	width: 8%;
}

/* Fourth Equation Div Text */
#equation 
#equals 
.fourth {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250%; /* Center text (vertically) */
	font-weight: bold;
}


/* Fifth Equation Card */
#equation
#answer {
	width: 21%;
}

/* Fifth Equation Card Back */
#equation
#answer
.back {
	background: #800000; /* Red */
}

















