/**** Login Div ****/
#login {
    padding: 0;
    font-size: 120%;
}

#login table {
    width: 95%;
    margin: auto;
    padding: 0;
    table-layout: fixed;
}

#login td {
    margin: 0;
    padding-right: 1%;
    padding-bottom: 2%;
}

#login td:nth-child(1) {
    width: 35%;
}

#login input {
    width: 100%;
}

#login .label {
    text-align: right;
}

#login .button {
    margin-top: 2%;
    text-align: center;
    width: 95%;
    font-size: 100%;
    color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #008CBA;
    border: none;
    text-decoration: none;
    display: inline-block;
}

#login #btnLogin {
    background-color: #4CAF50;
}

/**** TEST BUTTONS. DELETE AFTER TEST IS DONE ****/
#login .buttonTest {
    position: absolute;
    margin-top: 1.5%;
    text-align: center;
    font-size: 85%;
    color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #f00;
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 20%;
}

#login #btnTEST1 {
    top: -25%;
    left: 40%;
    width: 30%;
}

/**** Register Div ****/
#register {
    padding: 0;
    font-size: 120%;
}

#register table {
    width: 95%;
    margin: auto;
    padding: 0;
    table-layout: fixed;
}

#register td {
    margin: 0;
    padding-right: 1%;
    padding-bottom: 2%;
}

#register td:nth-child(1) {
    width: 35%;
}

#register input {
    width: 100%;
}

#register .label {
    text-align: right;
}

#register .button {
    margin-top: 2%;
    text-align: center;
    width: 95%;
    font-size: 100%;
    color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #008CBA;
    border: none;
    text-decoration: none;
    display: inline-block;
}

#register #btnRegister {
    background-color: #4CAF50;
}

/**** Password Div ****/
#password {
    padding: 0;
    font-size: 120%;
}

#password table {
    width: 95%;
    margin: auto;
    padding: 0;
    table-layout: fixed;
}

#password td {
    margin: 0;
    padding-right: 1%;
    padding-bottom: 2%;
}

#password td:nth-child(1) {
    width: 35%;
}

#password input {
    width: 100%;
}

#password .label {
    text-align: right;
}

#password .button {
    margin-top: 2%;
    text-align: center;
    width: 95%;
    font-size: 100%;
    color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #008CBA;
    border: none;
    text-decoration: none;
    display: inline-block;
}

#password #btnResetPassword {
    background-color: #4CAF50;
}


/**** Account Div ****/
#account {
    padding: 0;
    font-size: 120%;
}

#account table {
    width: 97.5%;
    margin: auto;
    padding: 0;
    border-collapse: separate;
    border-spacing: 1.5vw 0;
    table-layout: fixed;
}

#account td {
    margin: 0;
}

#account #labelEmail {
    font-size: 95%;
    text-align: left;
    padding-bottom: 2%;
    color: #78d2f0;
}

#account #labelAchieve {
    font-size: 100%;
    padding-bottom: 1.5%;
}

.achieveImage {
    width: 31.5%;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 6%;
    border: 2px outset #5d5d5d;
    margin-bottom: 0;
}

.achieveImage img {
    width: 100%;
    margin-bottom: 0;
    opacity: 0.4;
}

.achieveStatus {
    margin-top: -40%;
    text-align: left;
}

.achieveStatus img {
    width: 35%;
    opacity: 1.0;
}

#account .button {
    margin-top: 2%;
    text-align: center;
    width: 95%;
    font-size: 100%;
    color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #4CAF50;
    border: none;
    text-decoration: none;
    display: inline-block;
}

/**** Tooltip ****/
/* Tooltip text */
#account .achieveTxt {
    visibility: hidden;
    width: 70%;
    height: 95%;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 2%;
    border-radius: 2%;
    opacity: 0.85;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -75%;
    left: 2%;
}

#account .achieveTxt img {
    position: relative;
    clear: both;
    width: 40%;
}

/* Show the tooltip text when you mouse over the tooltip container */
#achieve1Image:hover #achieve1Txt {
    visibility: visible;
}

#achieve2Image:hover #achieve2Txt {
    visibility: visible;
}

#achieve3Image:hover #achieve3Txt {
    visibility: visible;
}