/* Set Height and Width to Viewport Size */
html, 
body, 
#startscreen, 
div.container {
	height: 100%;
	width: 100%;
}

#startscreen {
	background: #D7DADB;
}

#title {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#title img {
    text-align: center;
    width: 75%;
}

#menu_main {
    
}

#menu_practice {
    
}